<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<typeAliases>
		<typeAlias type="com.board.vo.PImageVO" alias="PImageVO" />
		<typeAlias type="com.board.vo.PMemberVO" alias="PMemberVO" />
		<typeAlias type="com.board.vo.PPostVO" alias="PPostVO" />
		<typeAlias type="com.board.vo.PReplyVO" alias="PReplyVO" />
		
		<typeAlias type="com.board.vo.util.Criteria" alias="Criteria" />
		<typeAlias type="com.board.vo.util.SearchCriteria" alias="SearchCriteria" />
	</typeAliases>
</configuration>